.title {
    position: absolute;
    top: 25%;
    right: 33%;

}

.source {
    position: absolute;
    top: 8%;
    right: 55%;
}

.links {
    color : #09d3ac;
}

.cos452 {
    position: absolute;
    top: 12%;
    right: 42.5%;
}