.title {
    position: absolute;
    top: 25%;

}

.source {
    position: absolute;
    padding-top: 1%;
    top: 50%
}

.links {
    color : #09d3ac;
}

.cos452 {
    position: absolute;
    padding-top: 6%;
    top: 55%;
}